body {
    background: linear-gradient(to right, #7b2cbf, #9d4edd);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    gap: 15px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #5a189a;
    color: white;
    cursor: pointer;
}